*{
    margin: 0;
    padding: 0;
    
}
html body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.gameContainer{
    background-image: url("res/bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

.gameOver{
    visibility: hidden;
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}
.gameOver h1{
    color: red;
    font-weight: bolder;
    text-transform: capitalize;

}
.gameOver button{
    color: white;
    padding: 5px;
    margin: 10px 0 0 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(18, 19, 18);
}

.gameOver button:hover{
    background-color: rgb(87, 86, 86);
}
.scoreCount{
    
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
}

.dino{
    background-image: url('res/dino.png');
    background-repeat: no-repeat;
    height: 129px;
    width: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    bottom: 0;
    left: 30px;
}

.obstacles{
    background-image: url("res/dragon.png");
    background-repeat: no-repeat;
    height: 129px;
    width: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left:50vw;
    bottom: 0;
    

}
.obstaclesAni{
    
    animation:obstacles 1s linear infinite;
}
.animateDino{
    animation: dino 0.5s linear ;
}

@keyframes dino {
    0%{
        bottom: 0;

    } 

    50%{
        
        bottom: 444px;

    }

    100%{

        bottom: 0;

    }
}


@keyframes obstacles {
    0%{
        left: 90vw;
    }

    100%{
        left:-10vw;
    }
}

@media only screen and (max-width:600px) {

    .dino{
        left: 0;
        background-size: 80px 80px;
    }

    .obstaclesAni{
    
        animation:obstacles 1.1s linear infinite;
    }
    .dino{
        height: 80px;
        width: 80px;
    }
    .obstacles{
        height: 80px;
        width: 80px;
    }
    .animateDino{
        animation: dino 0.8s linear ;
    }

    .obstacles{
        right: 0;
        background-size: 80px 80px;
    }


    @keyframes dino {
        0%{
            bottom: 0;
    
        } 
    
        50%{
            
            bottom: 200px;
    
        }
    
        100%{
    
            bottom: 0;
    
        }
    }
    
}